<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Recommended Food App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "アカウント編集", "/users/edit" %>
      <%= link_to 'ログアウト', "/users/sign_out", data: { turbo_method: :delete } %>
      <%= link_to "一覧ページ", "/" %>
      <%= link_to "新規投稿ページ", "/foods/new" %>
      <%= current_user.email %>
    <% else %>
      <%= link_to "ログイン", "/users/sign_in" %> 
      <%= link_to "アカウント登録", "/users/sign_up" %> 
    <% end %> 
    <%= yield %> 
  </body>
</html>
